﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />        
        <link href="@Url.Content("~/Content/examples-offline.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/kendo.common.min.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/kendo.default.min.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
        <script src="@Url.Content("~/Scripts/jquery.min.js")"></script>
        <script src="@Url.Content("~/Scripts/kendo.web.min.js")"></script>
        <script src="@Url.Content("~/Scripts/console.js")"></script>                        

        <script>

            $(document).ready(function () {

                // create MultiSelect from select HTML element
                var required = $("#required").kendoMultiSelect().data("kendoMultiSelect");
                //var optional = $("#optional").kendoMultiSelect().data("kendoMultiSelect");

                /*$("#get").click(function () {
                    alert("Attendees:\n\nRequired: " + required.value());
                });*/

                // create ComboBox from select HTML element
                $("#size").kendoComboBox();
                
                var select = $("#size").data("kendoComboBox");

                /*$("#get").click(function () {
                    alert('Thank you! Your Choice is:\n\nFabric ID: ' + fabric.value() + ' and Size: ' + select.value());
                });*/

            });
    </script>

         <style scoped>
        .demo-section {
            width: 350px;
            min-height: 140px;
            padding: 30px 30px 80px;
        }
        .demo-section h2 {
            font-weight: normal;
        }
        .demo-section label {
            display: inline-block;
            margin: 15px 0 5px 0;
        }
        .demo-section select {
            width: 350px;
        }
        #get {
            float: right;
            margin: 25px auto 0;
        }
    </style>

        
    </head>
    <body>        
        <div id="body">           
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">                
            </div>
        </footer>

    </body>
</html>
