﻿@{
    ViewBag.Title = "Интеллектуальная система автоматического бронирования";
}
 
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/ui/1.10.0/jquery-ui.min.js"></script>
<script src="http://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU" type="text/javascript"></script>
<script src="~/Scripts/CustomScripts/isb.index.js"></script>
<script src="~/Scripts/jquery.signalR-1.0.1.min.js"></script>
<script src="~/signalr/hubs"></script>

<div id="titlecontrol">
    <h1>Интеллектуальная система автоматического бронирования</h1>
</div>
<script>

    function foo()
    {
        //alert("goo");

        $("#regTitle").html("<p><label>Тип кузова:</label>&nbsp;&nbsp;<select id=''size'' name=''city''> <option value''Passenger''>Легковая</options><option value''Cargo''>Грузовая</options></select><p/>");
    }

    function foo2()
    {
        //alert("goo");

        $("#regTitle").html("<p><label>Тип кузова:</label>&nbsp;&nbsp;<select id=''size'' name=''city''> <option value''Passenger''>Велосипед</options><option value''Cargo''>Мопед</options></select><p/>");
    }

    $(document).ready(function () {
        
        var carwash = $.connection.carwash;

        carwash.client.findFreeWashes = function () {
            findFreeWash();
        };

        $.connection.hub.start();

        $('#timeLabelH').text(@DateTime.Now.Hour);
        $('#timeLabelM').text(@DateTime.Now.Minute);

        $("#sliderScaleHour").slider({
            min: 0,
            max: 23,
            step: 1,
            animate: true,
            value: 8,
            slide: function (event, ui) {

                $('#timeLabelH').text(ui.value);
            }
        });

        $('#sliderScaleHour').slider("option", "value", @DateTime.Now.Hour);

    $("#sliderScaleMinute").slider({
        min: 0,
        max: 59,
        step: 1,
        animate: true,
        value: 0,
        slide: function (event, ui) {

            $('#timeLabelM').text(ui.value);                        
        }
    });

    $('#sliderScaleMinute').slider("option", "value", @DateTime.Now.Minute);

    $.datepicker.regional['ru'] = {
        closeText: 'Закрыть',
        prevText: '&#x3c;Пред',
        nextText: 'След&#x3e;',
        currentText: 'Сегодня',
        monthNames: ['Январь','Февраль','Март','Апрель','Май','Июнь',
        'Июль','Август','Сентябрь','Октябрь','Ноябрь','Декабрь'],
        monthNamesShort: ['Янв','Фев','Мар','Апр','Май','Июн',
        'Июл','Авг','Сен','Окт','Ноя','Дек'],
        dayNames: ['воскресенье','понедельник','вторник','среда','четверг','пятница','суббота'],
        dayNamesShort: ['вск','пнд','втр','срд','чтв','птн','сбт'],
        dayNamesMin: ['Вс','Пн','Вт','Ср','Чт','Пт','Сб'],
        weekHeader: 'Не',
        dateFormat: 'dd.mm.yy',
        firstDay: 1,
        isRTL: false,
        showMonthAfterYear: false,
        yearSuffix: ''};
    $.datepicker.setDefaults($.datepicker.regional['ru']);

    $("#datepicker").datepicker();
    $("#datepicker").datepicker( "option", "dateFormat", "dd/mm/yy" );  
    
    $("#datepicker").datepicker( "setDate", new Date() );

    });
</script>
<div id="map" class="yanmap"></div>
<div id="findWashcontrol">                
        <p><label for="required">Тип кузова:</label>&nbsp;&nbsp;<select id="size" name="city">
                                        <option value"Passenger">Легковая</options>
                                        <option value"Cargo">Грузовая</options>
                                        <option value"Bicycle">Велосипед</options>
                                        <option value"BelAZ">Белаз</options>
                                    </select><p/>        
    <p><label for="required">Работы:</label></p>
        @Html.DropDownList("required")<br/>
    <!--<p><label for="required">Планируемое временя мойки:</label><p/>-->
    <fieldset>
        <legend>Планируемое временя мойки</legend>
        <p>Дата: <input type="text" id="datepicker" readonly/></p>
        Время:
        <center><label id="timeLabelH">8</label>:<label id="timeLabelM">0</label><br/></center>        
        <div id="sliderScaleHour"></div>
        <div id="sliderScaleMinute"></div>        
        </fieldset>                
    <button class="k-button" id="get" onclick="findFreeWash()">Найти</button>
</div>

<div id="currentOrdersControl">
    <p>Список текущих заявок</p>
    <p>Время мойки: </p>
    <table>
        <tr>
            <td>15.04.2013  15:34</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class="k-button" id="get2" onclick="foo2()">Отменить</button></td>     
        </tr>
        <tr>
            <td>17.04.2013  08:34</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class="k-button" id="get1" onclick="foo()">Отменить</button></td>     
        </tr>
            
    </table>
</div>

<div id ="regTitle">
    assdsdassda
</div>
