﻿html{
	background:url('images/bg.jpg') #e5e5e5;
}

#titlecontrol
		 {
		    position:fixed;
		    margin:0px 0px 0px 0;
		    display: block;
		    top: 15px;
            left: 35px;
  			padding: 0.7em;
	   		background-color: rgba(0, 0, 0, 0.2);
		  	border-radius: 7px;
			-webkit-box-shadow:0 0 10px #aaa;
	        -moz-box-shadow:0 0 10px #aaa;
	        box-shadow:0 0 10px #aaa;
	        z-index :2;
            width:92%;
            text-align:center;
		}

  #findWashcontrol
		 {
            width:240px;
		    position:fixed;
		    margin:0px 0 0 0;
		    display: block;
		    top:  150px;
            right: 5px;
  			padding: 0.7em;	   		
		  	border-radius: 7px;
			-webkit-box-shadow:0 0 10px #aaa;
	        -moz-box-shadow:0 0 10px #aaa;
	        box-shadow:0 0 10px #aaa;
	        z-index :2;
            background: -webkit-gradient(linear, left top, left bottom, from(#FCFCFC), to(#EEEEEE)); /* для webkit */
            background: -moz-linear-gradient(top, #FCFCFC, #EEEEEE); /* для firefox 3.6+ */
		}



  #currentOrdersControl
		 {
            width:240px;
            height:110px;
		    position:fixed;
            overflow-y: scroll;
		    margin:0px 0 0 0;
		    display: block;
		    top: 530px;
            right: 5px;
  			padding: 0.7em;
	   		background-color: rgba(0, 0, 0, 0.3);
		  	border-radius: 7px;
			-webkit-box-shadow:0 0 10px #aaa;
	        -moz-box-shadow:0 0 10px #aaa;
	        box-shadow:0 0 10px #aaa;
	        z-index :2;
            background: -webkit-gradient(linear, left top, left bottom, from(#FCFCFC), to(#EEEEEE)); /* для webkit */
            background: -moz-linear-gradient(top, #FCFCFC, #EEEEEE); /* для firefox 3.6+ */
		}

.yanmap
 {
     position: relative;   
     margin:100px 0 0 0;       
     height:600px;
  }

#sliderScaleHour { margin: 10px;font-size:88.5%; }
#sliderScaleMinute { margin: 10px;font-size:88.5%; }

